<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="https://bootswatch.com/4/united/bootstrap.min.css">
    <title>Success</title>
</head>

<body>
<div class="container text-center mt-5">

    <div class="alert alert-primary" role="alert ">
        Welcome
        <a href="#" class="alert-link">
            <%= user.username %>
        </a>. Enjoy
    </div>
    <a class="btn btn-danger" href="/logout">Logout</a>
    <div class="container p-3">
        <div class="p-3">
            <% if (success_message !='' ) { %>
                <div class="alert alert-success" role="alert">
                    <%= success_message%>
                </div>
            <% } %>
        </div>
        <form action="/addmsg" method="POST">
            <div class="form-group">
                <textarea class="form-control" name="msg" id="msg" cols="30" rows="3" maxlength="200" placeholder="Enter Some Message.. 200 characters..."></textarea>
            </div>
            <div class="form-group">
                <button class="btn btn-outline-success" type="submit">Add Message</button>
            </div>


            <div>
                <table class="table">
                    <thead>
                    <tr>

                        <th scope="row">Your Messages</th>
                    </tr>
                    </thead>
                    <tbody>
                    <% user.messages.forEach(function(msg, index){ %>
                        <tr>
                            <td>
                                <%= msg %>
                            </td>
                        </tr>
                    <% }) %>

                    </tbody>
                </table>
            </div>
        </form>
        <p>
        </p>
    </div>
</div>
</body>

</html>